*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: AnonymousPro;
}

body{
    background-color: #17181a;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* overflow-x: hidden; */
    position: absolute;
    height: 100%;
    width: 100%;
}

#logo{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    height: 15vh;
}

#title{
    position: inherit;
    top: 3%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
    font-size: 2.5vw;
}