*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: AnonymousPro;
}

body{
    background-color: #17181a;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* overflow-x: hidden; */
    position: absolute;
    height: 100%;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

#logo{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    height: 15vh;
}

#title{
    position: fixed;
    top: 3%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
    font-size: 2.5vw;
}

#vl{
    position: fixed;
    top: 0%;
    left: 21%;
    background-color: white;
    height: 100vh;
    width: 0.15vw;
}

p#error{
    font-size: 1.5vw;
    text-decoration: none;
}

#dashboard{
    position: fixed;
    right: 0%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2vw;
    background-color: none;
    text-decoration: none;
    transition: ease-in-out 1s;
}

#dashboard:hover{
    background-color: white;
    color: #17181a;
}

#menu{
    position: fixed;
    top: 15%;
    width: 20vw;
}

#menu ul{
    list-style: none;
}

#menu li{
    padding: 1vw;
}

#menu h1{
    padding: 1vw;
    font-size: 2vw;
}

#menu h1 img{
    width: 2.5vw;
    border-radius: 50%;
    transform: translate(0%, 25%);
}

#menu hr{
    margin-left: 1vw;
}

#menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
    display: flex;
    transition: ease-in-out 500ms;
}

#menu ul li{
    transition: ease-in-out 500ms;
    cursor: pointer;
}

#menu ul li:hover{
    background-color: white;
}

#menu ul li:hover a{
    color: #17181a;
}

#overview{
    position: absolute;
    top: 0%;
    left: 60%;
    transform: translate(-50%, 0%);
}

#commands{
    position: absolute;
    top: 0%;
    left: 60%;
    transform: translate(-50%, 0%);
}

#roles{
    position: absolute;
    top: 0%;
    left: 60%;
    transform: translate(-50%, 0%);
}

#role:hover{
    cursor: pointer;
}

section{
    height: 100vh;
    width: 70vw;
}

section h1{
    padding-top: 3vh;
    font-size: 4vw;
    text-align: center;
}

div.serverinfo{
    background-color: #232425;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    border-radius: 25px;
}

div.serverinfo h2{
    font-size: 3vw;
}

div.serverinfo p{
    font-size: 1.75vw;
}

div.serverinfo p select option{
    font-size: 1.75vw;
    color: white;
}

div.serverinfo p select{
    background-color: #17181a;
    height: 4vh;
    font-size: 1.75vw;
    border-color: transparent;
}

#databar{
    position: fixed;
    bottom: 0%;
    height: 0vh;
    padding: 0vh;
    width: 100vw;
    font-size: 4vh;
    color: transparent;
    background-color: #28A745;
    text-align: center;
    transition: ease-in-out 1s;
    overflow: hidden;
    z-index: 12;
}

#databar ion-icon{
    transform: translate(0%, 25%);
}

#check{
    display: none;
}

#nickname{
    background-color: #17181a;
    height: 4vh;
    font-size: 1.75vw;
    border-color: transparent;
    transform: translate(0, 0.5vh);
    padding: 0.5vw;
}

#rolename{
    background-color: #17181a;
    height: 4vh;
    font-size: 1.75vw;
    border-color: transparent;
    transform: translate(0, 0.5vh);
    padding: 0.5vw;
}

#setnick{
    background-color: #5865f2;
    color: white;
    /* height: 3.5vh; */
    padding: 7px 16px;
    font-size: 1.5vw;
    border-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out 500ms;
}

#setrolename{
    background-color: #5865f2;
    color: white;
    padding: 7px 16px;
    font-size: 1.5vw;
    border-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out 500ms;
}

#addrule{
    background-color: #5865f2;
    color: white;
    padding: 7px 16px;
    font-size: 1.5vw;
    border-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out 500ms;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#setnick:hover{
    background-color: #28A745;
    color: white;
}

#setrolename:hover{
    background-color: #28A745;
    color: white;
}

#addrule:hover{
    background-color: #28A745;
    color: white;
}

div.botsettings{
    background-color: #232425;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    border-radius: 25px;
}

div.botsettings h2{
    font-size: 3vw;
}

div.botsettings p{
    font-size: 1.75vw;
}

#updates_channel option{
    font-size: 1.75vw;
    color: white;
}

#updates_channel{
    background-color: #17181a;
    height: 4vh;
    font-size: 1.75vw;
    border-color: transparent;
}

.cmdbtn{
    background-color: #28A745;
    border: none;
    border-radius: 15vw;
    height: 2vw;
    width: 4vw;
    cursor: pointer;
}

.rulebtn{
    position: relative;
    background-color: #28A745;
    border: none;
    border-radius: 15vw;
    height: 2vw;
    width: 4vw;
    cursor: pointer;
    left: 5%;
    transform: translate(0%, 25%);
}

.permsbtn{
    background-color: #17181a;
    color: white;
    border: none;
    height: 2vw;
    font-size: 1vw;
    border-radius: 5%;
    cursor: pointer;
}

.permsbtn:hover{
    background-color: white;
    color: #17181a;
}

#cmdtext{
    font-size: 2vw;
    background-color: #17181a;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    width: 1%;
    white-space: nowrap;
}

#content{
    display: none;
    width: 100%;
}

#content p{
    font-size: 1.5vw;
    width: 100%;
    padding-left: 1vw;
}

#command{
    height: fit-content;
    position: relative;
    top: 10%;
    width: 70%;
    left: 0%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transform: translate(25%, 0%);
    z-index: 1;
}

#role{
    height: fit-content;
    position: relative;
    top: 10%;
    width: 70%;
    left: 0%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transform: translate(25%, 0%);
    z-index: 1;
}

div.rolecontent{
    background-color: #36393e;
    border-radius: 5px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    text-align: left;
}

#roletext{
    font-size: 2vw;
    background-color: #17181a;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    white-space: nowrap;
}

#roletext ion-icon{
    transform: translate(0%, 25%);
}

div.command-content{
    background-color: #36393e;
    border-radius: 5px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    text-align: left;
}

#icon{
    float: right;
    font-size: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    transform: translate(0%, 0%);
}

#search{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-color: #36393e;
    height: 4vh;
    width: 30vw;
    border-radius: 15px;
    font-size: 1.5vw;
    border: none;
    padding: 0.5vw;
}

#popup{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, .9);
    display: none;
    transition: ease-in-out 1s;
}

#popup:hover{
    cursor: pointer;
}

#popup-content{
    position: absolute;
    opacity: 2;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 70%;
    transform: translate(-50%, 0%);
    z-index: 6;
    background-color: #232425;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 1vw;
}

#popup-content{
    cursor: default;
}

#popup-content h1{
    padding: 10px;
    text-align: center;
    font-size: 5vh;
}

#popup-content h2{
    position: relative;
    padding: 10px;
    padding-left: -5vw;
    text-align: center;
    font-size: 3.5vh;
    background-color: #17181a;
}

#popup-content p{
    padding: 15px;
    font-size: 3vh;
}

#popup_color{
    border: 0;
    padding: 0%;
    background-color: transparent;
    transform: translate(0%, 10%);
}

#popup_color:hover{
    cursor: pointer;
}

#permissionsdiv{
    position: relative;
    top: 10%;
    height: 35%;
    line-height: 3em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    background-color: #17181a;
}

#permission{
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 100%;
    background-color: #232425;
}

#cross{
    position: inherit;
    top: 0%;
    right: 0%;
}

#cross-icon{
    position: inherit;
    top: 0%;
    right: 0%;
    font-size: 3.5vw;
    padding: 0.75vw;
    cursor: pointer;
}

#commands-select{
    background-color: #17181a;
    height: 4vh;
    font-size: 1.75vw;
    /* padding: 1vw; */
}

#commands-select option{
    font-size: 1.75vw;
    color: white;
}

#delrule{
    position: relative;
    font-size: 3.5vh;
    transform: translate(0%, 25%);
    color: white;
    right: -45%;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #17181a;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

div.popup-c{
    display: none;
}

@media only screen and (max-width:920px){
    #logo{
        height: 10vh;
    }
    #menu ul li a{
        font-size: 4vw;
    }
    div.serverinfo h2{
        font-size: 5vw;
    }
    div.serverinfo p{
        font-size: 4vw;
    }
    #menu h1 img{
        width: 5vw;
    }
    #menu h1{
        font-size: 2vw;
    }
    #popup-content{
        width: 100%;
        height: 100%;
    }
    #setnick{
        font-size: 3vw;
    }
    #setrolename{
        font-size: 3vw;
    }
    #addrule{
        font-size: 3vw;
    }
    #cross-icon{
        font-size: 10vw;
    }
}
